<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../style.css" />
    <title>About</title>
</head>
<body>
    <button type="button" href="/works">About</button>
  <button type="button" href="/home">Home</button>
  
  <div class="parag">
  <h2> Early life and education </h2> 

<p> He was born Richard Kirschner in Manhattan, New York City, New York, and was raised on Manhattan's Upper West Side. At age ten, he began playing guitar, aspiring to be a rockstar.

    He graduated from University of Iowa in 1991 with a theater degree.
    
    He legally changed his name when he was in his twenties.</p>
</div>
<div class="parag">
<h2>Career</h2>

<p> Galaxy moved to Boulder, Colorado in 1992 and was a rock musician.[5] He learned cat behavior through his work with rescue cats,[6] originally with the Humane Society of Boulder Valley.[2] After working there and at other animal shelters, he went into private practice as a cat consultant in 2002, co-founding Little Big Cat, Inc., with Dr. Jean Hofve, a holistic veterinarian. Together they provided consultations to cat owners, focusing on the connection between physical and behavioral health.

    In 2007, Galaxy moved to Los Angeles, where he re-established a private consulting practice. Working one-on-one with cats in their homes, he works with clients to improve their cats' behavioral issues.
    
    Galaxy also works closely with animal shelters and rescue organizations, teaching his "Cat Mojo" approach to feline behavior to volunteers, staff and adopters and helping with both behavioral and environmental enrichment programs for their feline residents.
    
    He currently serves on the board of directors for Stray Cat Alliance and Fix Nation in Los Angeles as well as the Board of Advisers for Neighborhood Cats in New York City.
    
    Galaxy has appeared as the official cat behaviorist for Game Show Network's Think Like a Cat and as the cat behavior expert on Animal Planet's Cats 101. He has also been featured by such media outlets as 20/20, Extra, The New York Times, USA Today, The Washington Post, the New York Post, and AOL.
    
    Since May 2011, Jackson has starred in My Cat From Hell, a reality TV series produced by Animal Planet in which he helps cat guardians—often couples—resolve conflict and behavioral issues between them and their cats. Since December 2013, he has been host of the web series Cat Mojo on the Animalist Network, where he shares his thoughts on everything from cat-related issues like declawing and use of squirt guns to his craziest behind-the-scenes stories as a cat behaviorist.[7]
    
    Jackson is also the author of bestselling books about cats and a process called "catification" involving creating cat-friendly spaces within a home. In 2012 he published the autobiographical Cat Daddy: What the World's Most Incorrigible Cat Taught Me About Life, Love, and Coming Clean. </p>


</div>
    
</body>
</html>