<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Home</title>
</head>
<body>

  <button type="button" href="https:localhost:3000/about">About</button>
  <button type="button" href="https:localhost:3000/home">Works</button>

    <h2> Before My Cat from Hell</h2>

    <img src="/images/jacks.jpg"/>
    
  <p> Before he was the Cat Daddy on Animal Planet’s hit show My Cat From Hell, 
    Jackson Galaxy became aware of the harsh reality for homeless animals while working in an animal shelter.
    It was there he started the journey to cat behaviorist and animal advocate.
    Some of Jackson’s favorite My Cat From Hell episodes take him back to into shelters to help rescue cats.
    Find out how you can get involved and help spread light, love and mojo for cats in need by taking a deeper dive into the topics covered in these special episodes.
    You can also be a part of the work of The Jackson Galaxy Project – created to improve the lives of animals and help the people who care for them.  </p>  
   

</body>
</html>