<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Works</title>
</head>
<body>
    <button type="button" href="/about">About</button>
    <button type="button" href="/home">Home</button>
    <h2> Philosophy </h2>
    <div class="parag">
   <p>Jackson Galaxy believes that he can help any "problem cat"—provided that its human guardians follow the advice he provides—and that most behavioral problems result either from triggers in the cat's environment, medical issues with the animal, or mishandling of the cat by humans.

    Jackson teaches that cats are territorial, needing spaces within homes to call their own and that they send signals when they no longer desire petting, a condition he refers to as "overstimulation." Cats do not like being cornered and lash out when overstimulated. Certain cats (whom he calls "tree-dwelling cats") behave better when they have access to above-ground perches, and he often instructs owners of such cats to install an above-the-floor walkway with no dead ends, in order to provide these cats with the psychological comfort of escape routes.
    
    Jackson does not believe in cats being surgically de-clawed, believing that the animals suffer for it. On episode 5 of season 2, "Cat Fight!", he said that cats become hyper aware of the weapons they have left, going straight for back claws (if these have not been removed) and teeth, because that's what they have to fight with. Later on in life, they suffer a lot more arthritis. Instead of de-clawing, he encourages owners to provide scratching posts and other designated surfaces that allow the cat to practice its instinctive behavior of scratching and exercising safely, or to use soft claws or vinyl claws which cover the claws rather than having the claws removed.[2]
    
    He teaches that there are correct and incorrect ways to pick up a cat and that when cats are picked up incorrectly, they will often injure humans in an attempt to escape. Most cats need exercise to release excess energy in a positive way; toys and play with owners are outlets Jackson encourages. When this is not done, such cats find ways to release energy on their own, which are often undesirable to their owners and/or destructive to the home.
    
    In multi-animal situations, Jackson creates barriers in homes to divide the space into areas which the animals can claim as places of their own. He slowly introduces the cat to the other animals in positive situations (such as feeding). Occasionally, Jackson suspects that certain behavioral problems which defy conventional explanation are due to an underlying health problem (such as arthritis), in which case he instructs the owners to take their cat to a veterinarian before continuing efforts at modifying the behavior. </p> 
</div>
</body>
</html>